@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
pre {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.navigation__top-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
a {
  text-decoration: none;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.header {
  background: #f2f2f2;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  height: 737px;
  position: relative;
  z-index: 0;
}
.cicle__header {
  background-image: url(./icons/cikle-header.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  height: 608px;
  width: 640px;

  z-index: -1;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 40px 165px 0 165px;
  justify-content: space-between;
  color: #36536b;
  margin-bottom: 152px;
}

.navigation__top-content {
  display: flex;
  align-items: center;
  gap: 64px;
}
.navigation__top-logo {
  display: flex;
  gap: 8px;
}
.navigation__top-links {
  mix-blend-mode: normal;
  opacity: 0.7;
}

.button {
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  outline: none;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 16px 24.5px 14px 26.5px;
  cursor: pointer;
}
.left_gift {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 165px;
  z-index: 1;
}
.left-content {
  display: flex;
  flex-direction: column;
  width: 546px;
}
h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.553846px;
  color: #36536b;
  margin-bottom: 21px;
  height: 243px;
}
.form {
  position: relative;
  margin-bottom: 16px;
}
.form__email {
  width: 445px;
  height: 48px;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 16px 180px 14px 27px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.7;
}
::placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536b;
  mix-blend-mode: normal;
  opacity: 0.5;
}
form > button {
  position: absolute;
  top: 0;
  right: 0;
}
.questions {
  color: #6c8294;
  font-weight: 400;
  padding-left: 27px;
}
.right-content {
  width: 567px;
  display: flex;
  justify-content: end;
  position: relative;
}
.right-content img {
  position: absolute;
  transform: translate(0%, -20%);
  z-index: 1;
}

.work-company {
  width: 100%;
  background: #1b262f;
  margin: auto;
  height: 472px;
  background-image: url(./icons/cicle-icons-comapany.svg);
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 131px;
}
.work-company__info {
  width: 445px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}
.work-company__info-title {
  color: #fbfcfe;
  margin-bottom: 24px;
}
.work-company__paragraf {
  color: #fbfcfe;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 32px;
}
.paragraf {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}
.work-company__button {
  border: 1px solid #fbfcfe;
  border-radius: 24px;
  padding: 16px 32px 14px 32px;
  display: block;
  color: #fbfcfe;
}
.company {
  width: 536px;
  flex-direction: column;
  gap: 39px;
  display: flex;
  justify-content: center;
}
.company__variation {
  display: flex;
  gap: 62px;
  align-items: center;
  justify-content: center;
}
.company__lists {
  height: 33px;
  display: flex;
  align-items: center;
  width: 145px;
  justify-content: center;
}
.container {
  background: #edf3f8;
  display: flex;
  justify-content: center;
  position: relative;
}
.code-api {
  padding: 145px 0 155px 0;
  height: auto;
  width: 1115px;
  display: flex;
  gap: 125px;

  align-items: center;
}

.code-api__info-section {
  width: 445px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.code__foto-code {
  z-index: 1;
  display: flex;
  align-items: center;
}
.ux-ui {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 780px;
  gap: 95px;
  position: relative;
  background: #edf3f8;
}
.ux-ui__text {
  width: 445px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.two-phones {
  display: flex;
  gap: 40px;
  z-index: 1;
}
.half-cicle {
  background-image: url(./icons/half-cicle.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 390px;
  height: 780px;
  z-index: 0;
  right: 0;
  top: 0;
}
.mini_article {
  padding-top: 6px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #edf3f8;
}
.mini-section {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
}
.cicle-bacgrounded {
  background: #36536b;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.bold-text-small{
font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: -0.138462px;
color: #36536B;
margin-bottom: 16px;
}
.mini-text {
  line-height: 25px;
  letter-spacing: -0.115385px;
  text-align: center;
  color: #6c8294;
}
.ready{
  display: flex;
  gap: 338px;
  padding: 96px 0;
  background-color: #edf3f8;
}

.find{
  display: flex;
  align-items: center;
 
}
.find  .form{
margin: 0;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #1B262F;
  height: 100px;
  padding: 0 165px;
}
.footer__links{
  display: flex;
  gap: 24px;
}
.footer__link{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;;
}
.fecbook{
  background-image: url(./icons/feecbook.svg);
}
.twiiter{
  background-image: url(./icons/twiter.svg);
  background-repeat: no-repeat;
}
.linkedin{
  background-image: url(./icons/linked-in.svg);
}
